<%
    @PAGE_TITLE = "Add Metadata"
%>

<h1><%= @PAGE_TITLE %></h1>

<%= simple_form_for(@assets, :as => :asset, :url => metadata_a_assets_path, :method => :put) do |f| %>
    <% for asset in @assets %>
        <div class="row">
        <%= f.simple_fields_for "#{asset.id}", asset do |af| %>
            <hr/>
            <div class="span3">
                <%= asset.image.tag( Rails.application.config.assethost.modal_size ) %>
            </div>
            <div class="span5">
                <%= af.inputs :name => "Asset #{asset.id}" do %>
                <%= af.input :title %>
                <%= af.input :caption, :as => :text, :input_html => {:rows => 3}%>
                <%= af.input :owner %>
                <%= af.input :url %>
                <% end %>
            </div>
            <br class="clear"/>
        <% end %>
        </div>
    <% end %>
    
    <%= submit_tag "Update Metadata" %>
<% end %>
