<h2><%= @PAGE_TITLE = "API Users" %></h2>
<p><%= link_to "Add an API User", new_a_api_user_path, class: "btn btn-success" %></p>

<%= paginate @api_users %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Name</th>
      <th>Auth Token</th>
      <th>Active?</th>
      <th>Last Auth</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @api_users.each do |api_user| %>
      <tr>
        <td><%= link_to "Edit", edit_a_api_user_path(api_user), class: "btn" %></td>
        <td><%= api_user.name %></td>
        <td><%= api_user.authentication_token %></td>
        <td><%= api_user.is_active? %></td>
        <td><%= api_user.last_authenticated %></td>
      <td><%= api_user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @api_users %>
