<h2><%= @PAGE_TITLE = "API User: #{@api_user.name}" %></h2>

<dl>
  <dt>Name</dt>
  <dd><%= @api_user.name %></dd>

  <dt>Active?</dt>
  <dd><%= @api_user.is_active? %></dd>

  <dt>Auth Token</dt>
  <dd><%= @api_user.auth_token %></dd>

  <dt>Created At</dt>
  <dd><%= @api_user.created_at %></dd>

  <dt>Last Authentication</dt>
  <dd><%= @api_user.last_authenticated %></dd>

  <dt>Last Updated</dt>
  <dd><%= @api_user.updated_at %></dd>
</dl>

<%= link_to "Edit", edit_a_api_user_path(@api_user), class: "btn btn-primary" %> &nbsp;
