{{#each (sort-by "created_at:desc" assets) as |asset index|}}

  {{#asset-list-item
    item                           = asset
    index                          = index
    items                          = assets
    group                          = "assets"
    class                          = "asset-list__item"
    tagName                        = "li"
    draggingEnabled                = true
    dragEndAction                  = dragEndAction
    determineForeignPositionAction = determineForeignPositionAction
    style                          = asset.style
  }}
    {{#if asset.isUploading}}
      {{paper-progress-circular primary=true class="md-hue-3 asset-list__item-progress" diameter=70}}
    {{/if}}
    {{#paper-tooltip position="top"}}
      {{asset.id}}: {{asset.title}} {{asset.owner}}  {{asset.taken_at}} {{asset.size}}
    {{/paper-tooltip}}
    {{#if asset.id}}
      {{#unless onClick}}
        {{#link-to 'asset' asset.id class="asset-list__item-link"}} {{/link-to}}
      {{else}}
        <div class="asset-list__item-link" {{action 'onClick' asset}}></div>
      {{/unless}}
    {{/if}}
  {{/asset-list-item}}
{{/each}}

<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>
<li class="asset-list__spacer"></li>

{{#if message}}
  <p class="asset-list__message">{{message}}</p>
{{/if}}
