{{#file-dropzone name="assets" as |dropzone queue|}}
  <div id="index__drop-zone" class="drop-zone {{if dropzone.active 'drop-zone--active'}}">
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        Drop to upload
      {{else}}
        Invalid
      {{/if}}
    {{else if queue.files.length}}
      Uploading {{queue.files.length}} files. ({{queue.progress}}%)
    {{else}}
      <h4 class="drop-zone__heading">Upload Images</h4>
      <p class="drop-zone__text">
        {{#if dropzone.supported}}
          Drag and drop images onto this area to upload them or
        {{/if}}
        {{#file-upload name="assets"
                       accept="image/*"
                       multiple=true
                       onfileadd=(action "uploadAsset")}}
          <a id="upload-image" class="md-default-theme md-button md-raised" tabindex=0>Add an Image.</a>
        {{/file-upload}}
      </p>
    {{/if}}
  </div>
{{/file-dropzone}}

{{#each pages as |page|}}
  {{asset-list class="application-pane" assets=page}}
{{/each}}

{{#infinite-scroller use-document=true trigger-at="75%" on-load-more=(action 'getPage')}}
{{/infinite-scroller}}

{{#if isLoadingPage}}
  {{paper-progress-circular id="index__loading-indicator" diameter=96}}
{{/if}}