<div id="outputs__pane" class="application-pane outputs-pane">
  <h2>Outputs</h2>
  {{paper-button raised=true label="New Output" onClick=(route-action "newOutput")}}
  {{#paper-data-table sortProp="name" sortDir="desc" as |table|}}
    {{#table.head as |head|}}
      {{#head.column}}Name{{/head.column}}
      {{#head.column}}Size{{/head.column}}
      {{#head.column}}Pre-rendered?{{/head.column}}
      {{#head.column}}Rich?{{/head.column}}
      {{#head.column}}# Rendered{{/head.column}}
    {{/table.head}}
    {{#table.body as |body|}}
      {{#each model as |output|}}
        {{#body.row onClick=(route-action "editOutput" output) edit=true as |row|}}
          {{#row.cell}}{{output.name}}{{/row.cell}}
          {{#row.cell}}{{output.size}}{{/row.cell}}
          {{#row.cell}}{{output.prerender}}{{/row.cell}}
          {{#row.cell}}{{output.is_rich}}{{/row.cell}}
          {{#row.cell}}{{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/paper-data-table}}
</div>

