{{!-- {{application-progress id="application__progress"}} --}}

{{paper-toaster}}

{{#paper-sidenav-container class="toolbar-component__sidenav-container inner-sidenav"}}

{{#paper-toolbar 
  id="application__toolbar" 
  class=toolbarClass
  as |toolbar|}}
   {{#toolbar.tools class="toolbar-component__tools"}}
     <h2>{{#link-to "index"}}AssetHost{{/link-to}}</h2>
     {{#unless hasSimplifiedToolbar}}{{#if session.isAuthenticated}}
      {{#if (can user "assets" "read")}}
        <div class="toolbar-component__search-box">
          {{paper-input
              class="toolbar-component__search-box" 
              iconRight="search" 
              value=search.query
              onChange=(action (mut search.query))
          }}
        </div>
      {{/if}}
      <div class="toolbar-component__buttons">
        {{#if (can user "assets" "read")}}
          {{paper-button label="Assets" href=(href-to "index")}}
        {{/if}}
        {{#if (can user "outputs" "read")}}
          {{paper-button label="Manage Outputs" href=(href-to "outputs")}}
        {{/if}}
        {{#if (can user "users" "read")}}
          {{paper-button label="Users" href=(href-to "users")}}
        {{/if}}
      </div>
    {{/if}}{{/unless}}
     <span class="flex"></span>
    {{#if session.isAuthenticated}}
      <div class="toolbar-component__buttons">
        {{paper-button label="Log out" onClick=(action "invalidateSession")}}
      </div>
    {{else}}
      {{#link-to 'login'}}
        {{paper-button label="Log in"}}
      {{/link-to}}
    {{/if}}
    {{#if session.isAuthenticated}}
      {{#paper-sidenav-toggle name="right" as |toggleAction|}}
        {{#paper-button class="toolbar-component__menu-toggle" iconButton=true onClick=(action toggleAction)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
    {{/if}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}

{{#if session.isAuthenticated}}
  {{#paper-sidenav
    class="application__side-menu md-whiteframe-z2"
    name="right"
    position="right"
    open=rightSideBarOpen
    lockedOpen=false
    onToggle=(action (mut rightSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Menu{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-list}}
      {{#unless hasSimplifiedToolbar}}
        {{#paper-item href=(href-to "index")}}
          <p>Assets</p>
        {{/paper-item}}
        {{paper-button label="Manage Outputs" href=(href-to "outputs")}}
        {{paper-button label="Users"          href=(href-to "users")}}
      {{/unless}}
      {{#paper-item onClick=(action "invalidateSession")}}
        <p>Log out</p>
      {{/paper-item}}
    {{/paper-list}}
  {{/paper-sidenav}}
{{/if}}

{{/paper-sidenav-container}}
<div id="application__content-box" class="content-box">
  {{outlet}}
</div>


