<div id="asset__editor" class="asset-editor application-pane">

  <h1 id="asset__title" class="asset-editor__title">
    {{ember-inline-edit
      class="asset-editor__title-editor"
      value=(readonly asset.title)
      onSave=(action (mut asset.title))
      placeholder="Untitled asset"
      showSaveButton=false
      showCancelButton=false 
    }}
  </h1>

  <div class="layout-row">
    <div id="asset__left-col">
      {{image-box id="asset__image-box" 
                  url=imageURL 
                  height=imageSize.height 
                  width=imageSize.width
                  digest=asset.image_fingerprint
                  class="asset-editor__image-box"}}
      <div class="asset-editor__attributes">
        <div class="asset-editor__attributes-row"> 
          <div class="asset-editor__attribute-name">Asset Id</div>
          <div class="asset-editor__attribute-value">{{asset.id}}</div>
        </div>
        <div class="asset-editor__attributes-row"> 
          <div class="asset-editor__attribute-name">URL</div>
          {{paper-input class="asset-editor__attribute-value" value=imageURL onChange=null}}
        </div>
        <div class="asset-editor__attributes-row">
          <div class="asset-editor__attribute-name">Tag</div>
          {{paper-input class="asset-editor__attribute-value" value=imageTag onChange=null}}
        </div>
      </div>
      <h2>Basics</h2>
      <div class="asset-editor__attributes">
        <div class="asset-editor__attributes-row">
          <div class="asset-editor__attribute-name">Title</div>
          {{paper-input class="asset-editor__attribute-value" value=asset.title onChange=(action (mut asset.title))}}
        </div>
        <div class="asset-editor__attributes-row asset-editor__attributes-row--chips">
          <div class="asset-editor__attribute-name">Keywords</div>
          {{#paper-chips
            class="asset-editor__attribute-value"
            readOnly=false
            removeItem=(action "removeKeyword")
            addItem=(action "addKeyword")
            placeholder="Add a keyword"
            content=asset.keywordList as |keyword|}}
            <strong>{{keyword}}</strong>
          {{/paper-chips}}
        </div>
        <div class="asset-editor__attributes-row asset-editor__attributes-row--textarea"> 
          <div class="asset-editor__attribute-name">Caption</div>
          {{paper-input class="asset-editor__attribute-value" textarea=true block=true maxlength=150 passThru=(hash rows=5 maxRows=5)
  value=asset.caption onChange=(action (mut asset.caption))}}
        </div>
      </div>
      <h2>Rights</h2>
      <div class="asset-editor__attributes">
        <div class="asset-editor__attributes-row">
          <div class="asset-editor__attribute-name">Owner</div>
          {{paper-input class="asset-editor__attribute-value" value=asset.owner onChange=(action (mut asset.owner))}}
        </div>
      </div>
      <h2>Metadata</h2>
      <div class="asset-editor__attributes">
        <div class="asset-editor__attributes-row">
          <div class="asset-editor__attribute-name">Image taken</div>
          {{paper-input class="asset-editor__attribute-value" type="date" value=asset.takenAtFormatted onChange=(action "updateTakenAt")}}
        </div>
        <div class="asset-editor__attributes-row">
          <div class="asset-editor__attribute-name">Image Gravity</div>
          {{#paper-select
            class="asset-editor__attribute-value"
            options=gravities
            selected=imageGravity
            onChange=(action 'setGravity')
            as |gravity|}}
            {{gravity.[0]}}
          {{/paper-select}}
        </div>
      </div>
      <h2>Internal</h2>
      <div class="asset-editor__attributes">
        <div class="asset-editor__attributes-row asset-editor__attributes-row--textarea">
          <div class="asset-editor__attribute-name">Notes</div>
          {{paper-input class="asset-editor__attribute-value" textarea=true block=true maxlength=150 passThru=(hash rows=5 maxRows=5)
  value=asset.notes onChange=(action (mut asset.notes))}}
        </div>
      </div>
      {{#if (can user 'assets' 'write')}}
        {{#paper-button onClick=(action 'saveAsset') raised=true}}Update Asset{{/paper-button}}
        {{#paper-button onClick=(action 'showDestroyDialog') raised=true warn=true}}Destroy Asset{{/paper-button}}
      {{/if}}
    </div>

    <div id="asset__right-col">
      <div id="asset__output-nav" class="asset-editor__output-nav">
        <h3>Sizes</h3>
        {{#each outputs as |output|}}
          {{#paper-button raised=true primary=(eq selectedOutput output.name) onClick=(action "selectOutput" output.name)}}
            {{output.name}}
          {{/paper-button}}
        {{/each}}
      </div>

      {{#file-dropzone id="asset-editor__replace" name="replacement-asset" as |dropzone queue|}}
        <div class="asset-editor__replace drop-zone {{if dropzone.active 'drop-zone--active'}}">
          {{#if dropzone.active}}
            {{#if dropzone.valid}}
              Drop to upload
            {{else}}
              Invalid
            {{/if}}
          {{else if queue.files.length}}
            {{#unless isReplacing}}
              {{#paper-card}}
                {{#paper-content}}
                  {{paper-button raised=true label="Click to Upload" onClick=(action 'replace' queue.files)}}
                {{/paper-content}}
              {{/paper-card}}
            {{else}}
              Uploading. ({{queue.progress}}%)
            {{/unless}}
          {{else}}
            <h4 class="asset-editor__replace-heading">Replace Asset</h4>
            <p class="asset-editor__replace-text">
              {{#if dropzone.supported}}
                Drop/paste a file here to replace asset
              {{/if}}
              {{#file-upload name="replacement-asset"
                            accept="image/*"
                            multiple=true}}
                <a id="upload-image" class="md-default-theme md-button md-raised" tabindex=0>Add an Image.</a>
              {{/file-upload}}
            </p>
          {{/if}}
        </div>
      {{/file-dropzone}}
    </div>

  </div>


</div>

{{#if shouldDisplayDestroyDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDestroyDialog") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Are you sure you want to delete this asset?</h2>
      <p>This action cannot be undone.</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDestroyDialog")}}No, take me back.{{/paper-button}}
      {{#paper-button primary=true onClick=(action "destroyAsset")}}Yes, delete the asset.{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

