<div id="chooser__pane" class="application-pane">
  <div id="chooser__asset-selector" class="chooser__asset-selector">
    <h3>Selected Assets:</h3>
    {{#paper-button onClick=(route-action 'saveAndClose') raised=true primary=true}}Save and Close{{/paper-button}}

    {{#drag-sort-list 
      tagName="ul" 
      id="chooser__asset-bucket"
      class="asset-bucket" 
      childClass="asset-bucket__item"
      group="assets"
      items=model 
      dragEndAction=(action 'sort')
      as |asset|}}

        {{#paper-card as |card|}}
          <div {{action 'editAsset' asset}}>
            {{#card.actions class="asset-bucket__actions"}}
              {{#paper-button warn=true iconButton=true onClick=(action "removeAsset" asset)}}
                {{paper-icon "close"}}
              {{/paper-button}}
            {{/card.actions}}
            {{#card.title as |title|}}
              {{#title.media size="md"}}
                <div class="asset-bucket__item-thumb card-media" style={{image-background-style asset.urls.lsquare asset.image_gravity}}>
                </div>
              {{/title.media}}
              {{#title.text class="asset-bucket__text" as |text|}}
                <h3>{{or asset.title 'Untitled Asset'}}</h3>
                {{#text.subhead}}{{asset.caption}}{{/text.subhead}}
              {{/title.text}}
            {{/card.title}}
          </div>
        {{/paper-card}}
  
    {{/drag-sort-list}}

  </div>



  <div id="chooser__browser">
    {{paper-input
        id="chooser__search-box"
        class="search-box" 
        iconRight="search" 
        value=search.query
        onChange=(action (mut search.query))
    }}
    {{#infinite-scroller id="chooser__infinite-scroller" use-element="#chooser__asset-list" trigger-at="100%" on-load-more=(action 'getPage')}}
      {{asset-list 
        id="chooser__asset-list" 
        draggingEnabled=true
        dragEndAction=(action 'dragEnd')
        assets=search.results
        message=message
        onClick=(action "showAsset")
      }}
    {{/infinite-scroller}}
  </div>

</div>

{{#if showEditorDialog}}
  {{editor-dialog asset=selectedAsset id="chooser__editor-dialog" class="flex-80" onClose=(action "closeEditorDialog" "cancel") clickOutsideToClose=true}}
{{/if}}


{{#if showAssetDialog}}
  {{#paper-dialog onClose=(action "closeAssetDialog" "cancel")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">{{or selectedAsset.title 'Untitled Asset'}}</h2>
      <p>{{selectedAsset.credit}}</p>
      <p>{{selectedAsset.size}}</p>
      <p>{{or selectedAsset.caption 'No caption.'}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{paper-button primary=true href=(href-to 'asset' selectedAsset.id) target="_blank" label="View in Admin"}}
      {{#paper-button primary=true onClick=(action "closeAssetDialog" "ok" dogName)}}Close{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}