<h2><%= @PAGE_TITLE = "Edit Output: #{@output.code}" %></h2>

<div class="alert">
  <strong>Warning!</strong> Editing a size or extension requires that AssetHost delete all rendered assets for this output. They
  will be re-rendered on first request.
</div>

<%= simple_form_for [@output], html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= render 'form_fields', f: f %>

    <div class="form-actions">
      <%= f.submit "Update Output", class: "btn btn-primary" %>

      <%= link_to("Delete", output_path(@output),
            class: "btn btn-danger pull-right",
            method: :delete,
            data: { confirm: "Click OK to delete this Output.\n" \
                             "Click CANCEL to return to editing."
                  }
            ) %>
    </div>
  </fieldset>
<% end %>
