<!DOCTYPE html>
<html>
<head>
  <title><%= @PAGE_TITLE ? @PAGE_TITLE + " | AssetHost" : "AssetHost | Media Dashboard" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'shared/navbar' %>

<div id="content" class="container">
  <div class="row">
  <!-- HACK -->
  <%# current_user = false %>
  <% if current_user %>
    <div class="span4">
      <h3>Upload Assets</h3>

      <div id="filedrop" style="">
        <p style="font-size:24px;line-height:36px;color: #aaa;text-align: center">Drop File(s) Here</i></p>
      </div>
    </div>
  <% end %>

    <div class='span8' id="content_right">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <br class="clear"/>
  <br/>
</div>

<% if current_user %>
  <% content_for :footerjss do %>
      chooser = new AssetHost.ChooserUI({
      dropEl: "#filedrop",
      saveButton: 0,
      afterUploadText: "Manage Metadata",
      afterUploadURL: "<%= metadata_a_assets_path + "?ids={{ids}}" %>"
    })
  <% end %>
<% end %>

</body>
  <%= render "shared/footerjs" %>
</html>
